<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cartas</title>
</head>
<body>
    <h1>Lista de Cartas</h1>
    <table>
        <thead>
            <tr>
                <th>Card</th>
                <th>Custo</th>
                <th>Dano</th>
                <th>Saúde</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            {% for carta in cartas %}
            <tr>
                <td>{{ carta.card }}</td>
                <td>{{ carta.cost }}</td>
                <td>{{ carta.damage }}</td>
                <td>{{ carta.health_with_shield }}</td>
                <td>{{ carta.type }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Voltar</a>
</body>
</html>